Repository NitanJana/super-impress, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation

.github/labeler.yml:

frontend:
  - changed-files:
      - any-glob-to-any-file: "frontend/**"

backend:
  - changed-files:
      - any-glob-to-any-file: "backend/**"

documentation:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

fix: add missing period in documentation link
  frontend/src/routes/+page.svelte
Labels: frontend

bindable value prop in Input component
  frontend/src/lib/components/ui/input.svelte
Labels: frontend

chore: update .npmrc to include minimum release age setting
  frontend/.npmrc
Labels: frontend

pull_request_target runs in the context of the base repo, not the fork.
  .github/workflows/labeler.yml
Labels: none

button primitive
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/lib/components/ui/button.svelte
  frontend/src/lib/features/auth/login/login.svelte
  frontend/src/lib/features/auth/register/register.svelte
Labels: frontend

daisy port shadcn
  frontend/src/lib/components/ui/input.svelte
Labels: frontend

UI component architecture
  decisions/tech/7-ui-component-architecture.md
Labels: documentation

Add E2E tests workflow
  .github/workflows/e2e-tests.yml
Labels: none

fix: docker-compose command not found error
  .github/workflows/e2e-tests.yml
Labels: none

checkpoint
  .github/workflows/e2e-tests.yml
Labels: none

feat: add e2e tests workflow
  .github/workflows/e2e-tests.yml
Labels: none

form decisions
  decisions/tech/8-ui-form-decisions.md
Labels: documentation

remove repo secrets in favor of hardcoded values
  .github/workflows/e2e-tests.yml
Labels: none

infer versions from package.json
  .github/workflows/frontend-format.yml
  frontend/package.json
Labels: frontend

e2e workflow infer from package.json
  .github/workflows/e2e-tests.yml
Labels: none

fix location and bump node action to v6
  .github/workflows/e2e-tests.yml
  .github/workflows/frontend-format.yml
Labels: none

fix location for pnpm action
  .github/workflows/e2e-tests.yml
  .github/workflows/frontend-format.yml
Labels: none

bump node and pnpm versions
  frontend/package.json
  frontend/pnpm-lock.yaml
Labels: frontend

refactor
  backend/app/auth/router.py
  frontend/orval.config.ts
  frontend/package.json
  frontend/src/lib/api/authentication/authentication.ts
  frontend/src/lib/api/default/default.ts
  frontend/src/lib/api/superimpress.schemas.ts
  frontend/src/lib/features/auth/login/api.ts
  frontend/src/lib/features/auth/register/api.ts
Labels: frontend, backend

document decision
  decisions/tech/9-orval-api-client.md
Labels: documentation

better PR diffs
  frontend/.gitattributes
Labels: frontend

orval explained
  decisions/tech/9-orval-api-client.md
  decisions/tech/assets/orval-explained.png
Labels: documentation

svelte-query refactor
  decisions/tech/9-orval-api-client.md
  frontend/orval.config.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/lib/api/authentication/authentication.ts
  frontend/src/lib/api/default/default.ts
  frontend/src/lib/features/auth/login/api.ts
  frontend/src/lib/features/auth/login/login.svelte
  frontend/src/lib/features/auth/register/api.ts
  frontend/src/lib/features/auth/register/register.svelte
  frontend/src/lib/utils/get-error-message.ts
Labels: frontend, documentation

test: navigate to /login after successful registration
  frontend/e2e/login.test.ts
  frontend/e2e/register.test.ts
Labels: frontend

Add operation id to routes and generate api code
  backend/app/auth/router.py
  frontend/src/lib/api/authentication/authentication.ts
  frontend/src/lib/api/superimpress.schemas.ts
  frontend/src/lib/features/auth/login/login.svelte
  frontend/src/lib/features/auth/register/register.svelte
Labels: frontend, backend

feat: improve auth flow
  frontend/src/lib/api/axios.ts
  frontend/src/lib/features/auth/login/login.svelte
  frontend/src/lib/stores/auth.ts
  frontend/src/routes/+layout.ts
Labels: frontend

feat: add password change endpoint
  backend/app/auth/models.py
  backend/app/auth/router.py
  backend/app/auth/service.py
  frontend/src/lib/api/authentication/authentication.ts
  frontend/src/lib/api/superimpress.schemas.ts
Labels: frontend, backend

feat: Add password change feature
  frontend/src/lib/features/auth/password-change/password-change.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/password-change/+page.svelte
Labels: frontend

fix: use resolve
  frontend/src/lib/features/auth/password-change/password-change.svelte
  frontend/src/routes/password-change/+page.svelte
Labels: frontend

feat: add axios custom instance
  frontend/orval.config.ts
  frontend/src/lib/api/authentication/authentication.ts
  frontend/src/lib/api/axios.ts
  frontend/src/lib/api/default/default.ts
  frontend/src/routes/+layout.ts
Labels: frontend

fix types
  frontend/src/lib/api/authentication/authentication.ts
  frontend/src/lib/api/axios.ts
  frontend/src/lib/api/default/default.ts
  frontend/src/lib/features/auth/login/login.svelte
Labels: frontend

add password change tests
  frontend/e2e/change-password.test.ts
  frontend/src/lib/features/auth/password-change/password-change.svelte
Labels: frontend

feat: add protected route group and redirection
  backend/app/auth/router.py
  frontend/src/lib/api/axios.ts
  frontend/src/lib/features/auth/change-password/change-password.svelte
  frontend/src/routes/(protected)/+layout.ts
  frontend/src/routes/(protected)/change-password/+page.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/password-change/+page.svelte
Labels: frontend, backend

feat: Add tests for change password page
  frontend/e2e/change-password.test.ts
Labels: frontend

run codegen
  frontend/src/lib/api/authentication/authentication.ts
  frontend/src/lib/api/default/default.ts
Labels: frontend
